<a href="https://colab.research.google.com/github/Kinbloom/Moringa-Projects/blob/master/MTN_DETAILED_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##MTN  DATA ANALYSIS //

### Import the relevant python libraries

In [0]:
import pandas as pd
import numpy as np

###Loading the relevant datasets

In [3]:
#Load the cells_geo dataset
cells_geo = pd.read_csv('cells_geo.csv', delimiter = ';')
cells_geo.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [4]:
#Load the cells_geo_description dataset
cells_geo_description = pd.read_excel('cells_geo_description.xlsx')
cells_geo_description

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

The columns that are relevant in the cells_geo dataset are:
*   VILLES
*   STATUS
*   LOCALISATION
*  DECOUPZONE
*  ZONENAME
*  REGION
*  AREA
*  CELL_ID
*  SITE_CODE

In [5]:
#Select only the relevant columns in the cells_geo dataframe

cells_geo = cells_geo[['VILLES','STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME', 'REGION','AREA', 'CELL_ID', 'SITE_CODE']]
cells_geo.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 9 columns]

In [6]:
#Load the CDR Description Dataset

CDR_description = pd.read_excel('CDR_description.xlsx')
CDR_description

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

The CDR Description gives a description of the data in the daily datasets. The relevant columns in the datasets are:

*   PRODUCT
*   VALUE
*   DATE_TIME
*   DW_A_NUMBER_INT
*   DW_B_NUMER_INT
*   CELL_ID
*   SITE_ID

In [20]:
#Load the first dataset; for day 1
day_one = pd.read_csv('http://bit.ly/TelecomDataset1')
day_one.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [21]:
#Pick out the relevant columns
day_one = day_one[['PRODUTC','VALUE', 'DATETIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'CELL_ID','SITE_ID']]
day_one.head()

  PRODUTC  VALUE  ...     CELL_ID     SITE_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41
2     sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 7 columns]

In [22]:
#Rename the columns in order to have matching column names in each daily dataset
day_one.columns = ['PRODUCT','VALUE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'CELL_ID','SITE_ID']
day_one.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41
2     sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 7 columns]

In [0]:
#Load the second dataset :for day 2
day_two = pd.read_csv('http://bit.ly/TelecomDataset2')

In [8]:
#Pick out the relevant columns
day_two =day_two[['PRODUCT','VALUE','DATE_TIME','DW_A_NUMBER','DW_B_NUMBER','CELL_ID','SITE_ID']]
day_two.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0     sms      0  ...  +854AcBQT2  +854AcBQT2
1   Voice      0  ...  +854AcBQT2  +854AcBQT2
2     sms      0  ...  +laSrk7g6q  +laSrk7g6q
3   Voice     37  ...  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  ...  +bO+qkSonO  +bO+qkSonO

[5 rows x 7 columns]

In [9]:
#Rename the columns in order to have matching column names in each daily dataset
day_two.columns = ['PRODUCT','VALUE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'CELL_ID','SITE_ID']
day_two.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0     sms      0  ...  +854AcBQT2  +854AcBQT2
1   Voice      0  ...  +854AcBQT2  +854AcBQT2
2     sms      0  ...  +laSrk7g6q  +laSrk7g6q
3   Voice     37  ...  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  ...  +bO+qkSonO  +bO+qkSonO

[5 rows x 7 columns]

In [8]:
#Load the third dataset; for day 3
day_three = pd.read_csv('http://bit.ly/TelecomDataset3')
day_three.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [9]:
#Pick out the relevant columns
day_three = day_three[['PRODUCT','VALUE','DATE_TIME','DW_A_NUMBER_INT','DW_B_NUMBER_INT','CELLID','SIET_ID']]
day_three.head()

  PRODUCT  VALUE  ...      CELLID     SIET_ID
0   Voice     61  ...  +38u2u/rfx  +38u2u/rfx
1     sms      0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  ...  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  ...  /eeMklgyJA  /eeMklgyJA

[5 rows x 7 columns]

In [10]:
#Rename the columns in order to have matching column names in each daily dataset
day_three.columns = ['PRODUCT','VALUE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'CELL_ID','SITE_ID']
day_three.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0   Voice     61  ...  +38u2u/rfx  +38u2u/rfx
1     sms      0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  ...  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  ...  /eeMklgyJA  /eeMklgyJA

[5 rows x 7 columns]

##Find out more information on each dataset.

### The cells_geo dataset

*  Is there missing data? (What is the overall number of values? What columns have missing data?)
*  How many rows and columns does it have?
*  Find out the data types in each column.

In [13]:
#What is the number of missing values in each column?
cells_geo.isnull().sum()

VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [19]:
#What is the overall number of missing values?
cells_geo.isnull().sum().sum()

96

In [20]:
#How many rows and columns does it have?
cells_geo.shape

(3974, 9)

In [24]:
#Find the type of data types in each column.
cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 9 columns):
VILLES          3974 non-null object
STATUS          3907 non-null object
LOCALISATION    3974 non-null object
DECOUPZONE      3974 non-null object
ZONENAME        3968 non-null object
REGION          3974 non-null object
AREA            3951 non-null object
CELL_ID         3974 non-null object
SITE_CODE       3974 non-null object
dtypes: object(9)
memory usage: 279.5+ KB

In [6]:
#Let's replace all the missing values to NaN
cells_geo.replace('N/A',np.NaN)
cells_geo.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 9 columns]

### Let's merge the cells_geo dataset and the day_one dataset

In [29]:
# Why user an inner join as opposed to a left or right join? 
# We want to maintain the common existent values in both dataframes in the CELL_ID column. 
# This isnt the most conclusive method as alot of data in the day_one dataframe is not used to make a conclusive interpretation of the data. 
# However, the unique CELL_ID entries act as a random sample of the data.
cell_one = day_one.merge(cells_geo, how='inner', on='CELL_ID')
cell_one.head()

  PRODUCT  VALUE              DATE_TIME  ...  REGION           AREA   SITE_CODE
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 15 columns]

In [30]:
#Let's convert the cell_one dataframe to a csv file to avoid loading the dataset multiple times.

cell_one_csv = cell_one.to_csv('cell_one.csv',encoding='utf-8',index=False)

cell_one_csv = pd.read_csv('cell_one.csv')
cell_one_csv.head()

  PRODUCT  VALUE              DATE_TIME  ...  REGION           AREA   SITE_CODE
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 15 columns]

###Let's analyze day one and find out as much as possible based on the newly merged dataset (cell_one)

In [31]:
#Let's check the number of rows and columns in the newly merged dataset.

cell_one_csv.shape

(176, 15)

In [32]:
#Let's check for the missing values in each column

cell_one_csv.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
CELL_ID              0
SITE_ID            176
VILLES               0
STATUS               1
LOCALISATION         0
DECOUPZONE           0
ZONENAME             0
REGION               0
AREA                 0
SITE_CODE            0
dtype: int64

In [33]:
#Let's check for the total number of missing values in the cell_one dataframe.

cell_one_csv.isnull().sum().sum()

177

### Let's merge the cells_geo and the day_two dataset

In [10]:
cell_two = day_two.merge(cells_geo, how='inner', on='CELL_ID')
cell_two.head()

  PRODUCT  VALUE  ...           AREA   SITE_CODE
0   Voice      0  ...     SOUTH WEST  78d279198d
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
3   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
4   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032

[5 rows x 15 columns]

In [11]:
#Let's convert the cell_two dataframe to a csv file to avoid loading the dataset multiple times.

cell_two_csv = cell_two.to_csv('cell_two.csv',encoding='utf-8',index=False)

cell_two_csv = pd.read_csv('cell_two.csv')
cell_two_csv.head()

  PRODUCT  VALUE  ...           AREA   SITE_CODE
0   Voice      0  ...     SOUTH WEST  78d279198d
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
3   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
4   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032

[5 rows x 15 columns]

###Let's analyze day one and find out as much as possible based on the newly merged dataset (cell_two)

In [31]:
#Let's check the number of rows and columns in the newly merged dataset.

cell_two_csv.shape

(101, 15)

In [36]:
#Let's check for the missing values in each column

cell_two_csv.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
CELL_ID              0
SITE_ID            101
VILLES               0
STATUS               0
LOCALISATION         0
DECOUPZONE           0
ZONENAME             0
REGION               0
AREA                 0
SITE_CODE            0
dtype: int64

In [37]:
#Let's check for the total number of missing values in the cell_one dataframe.

cell_two_csv.isnull().sum().sum()

101

### Let's merge the cells_geo and the day_three dataset

In [11]:
cell_three = day_three.merge(cells_geo, how='inner', on='CELL_ID')
cell_three.head()

  PRODUCT  VALUE  ...           AREA   SITE_CODE
0   Voice      0  ...  ABIDJAN NORTH  5818d7383c
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
3   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
4   Voice      0  ...  ABIDJAN NORTH  a55150a8e7

[5 rows x 15 columns]

In [12]:
#Let's convert the cell_two dataframe to a csv file to avoid loading the dataset multiple times.

cell_three_csv = cell_three.to_csv('cell_three.csv',encoding='utf-8',index=False)

cell_three_csv = pd.read_csv('cell_three.csv')
cell_three_csv.head()

  PRODUCT  VALUE  ...           AREA   SITE_CODE
0   Voice      0  ...  ABIDJAN NORTH  5818d7383c
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
3   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
4   Voice      0  ...  ABIDJAN NORTH  a55150a8e7

[5 rows x 15 columns]

###Let's analyze day one and find out as much as possible based on the newly merged dataset (cell_three)

In [13]:
#Let's check the number of rows and columns in the newly merged dataset.

cell_three_csv.shape

(99, 15)

In [14]:
#Let's check for the missing values in each column

cell_three_csv.isnull().sum()

PRODUCT             0
VALUE               0
DATE_TIME           0
DW_A_NUMBER_INT     0
DW_B_NUMBER_INT     0
CELL_ID             0
SITE_ID            99
VILLES              0
STATUS              0
LOCALISATION        0
DECOUPZONE          0
ZONENAME            0
REGION              0
AREA                0
SITE_CODE           0
dtype: int64

In [15]:
#Let's check for the total number of missing values in the cell_one dataframe.

cell_three_csv.isnull().sum().sum()

99

### Let's merge the three dataframes using concatenation

In [14]:
cell_one_csv = pd.read_csv('cell_one.csv')
cell_one_csv.head()

cell_two_csv = pd.read_csv('cell_two.csv')
cell_two_csv.head()

cell_three_csv = pd.read_csv('cell_three.csv')
cell_three_csv.head()

  PRODUCT  VALUE  ...           AREA   SITE_CODE
0   Voice      0  ...  ABIDJAN NORTH  5818d7383c
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
3   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
4   Voice      0  ...  ABIDJAN NORTH  a55150a8e7

[5 rows x 15 columns]

In [15]:
daily = pd.concat([cell_one_csv, cell_two_csv, cell_three_csv], ignore_index=False, sort=False)
daily.head()

  PRODUCT  VALUE              DATE_TIME  ...  REGION           AREA   SITE_CODE
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 15 columns]

###Let's analyze the newly merged dataset (daily)

In [16]:
#Let's check for null values in the daily dataset

daily.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
CELL_ID              0
SITE_ID            376
VILLES               0
STATUS               1
LOCALISATION         0
DECOUPZONE           0
ZONENAME             0
REGION               0
AREA                 0
SITE_CODE            0
dtype: int64

In [17]:
#Let's replace all the missing values to NaN
daily.replace('N/A',np.NaN)
daily.head()

  PRODUCT  VALUE              DATE_TIME  ...  REGION           AREA   SITE_CODE
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 15 columns]

In [0]:
#Let's change the DATE_TIME column to datetime type

daily.DATE_TIME = pd.to_datetime(daily.DATE_TIME)

In [0]:
#Let's split the DATE_TIME to date and time

daily['DATE'] = [d.date() for d in daily.DATE_TIME]

daily['TIME'] = [d.time() for d in daily.DATE_TIME]

daily['DATE'] = pd.to_datetime(daily['DATE'])

daily['TIME'] = pd.to_datetime(daily['TIME'], format='%H:%M:%S:%f', errors = 'ignore')

In [20]:
#Let's confirm the changes have been made

daily.dtypes

PRODUCT                    object
VALUE                       int64
DATE_TIME          datetime64[ns]
DW_A_NUMBER_INT            object
DW_B_NUMBER_INT            object
CELL_ID                    object
SITE_ID                   float64
VILLES                     object
STATUS                     object
LOCALISATION               object
DECOUPZONE                 object
ZONENAME                   object
REGION                     object
AREA                       object
SITE_CODE                  object
DATE               datetime64[ns]
TIME                       object
dtype: object

In [21]:
daily.head()

  PRODUCT  VALUE           DATE_TIME  ...   SITE_CODE       DATE      TIME
0   Voice      0 2012-05-07 08:33:43  ...  7f76d66503 2012-05-07  08:33:43
1   Voice      0 2012-05-07 08:36:17  ...  ffa6bdc032 2012-05-07  08:36:17
2   Voice      0 2012-05-07 08:37:47  ...  3e46cdd0e8 2012-05-07  08:37:47
3   Voice      0 2012-05-07 09:56:52  ...  3e46cdd0e8 2012-05-07  09:56:52
4   Voice      0 2012-05-07 20:17:41  ...  3e46cdd0e8 2012-05-07  20:17:41

[5 rows x 17 columns]

In [22]:
#Since new columns date and time have been formed, let's re-arrange the columns as well.

daily = daily[['VILLES','PRODUCT','VALUE','DATE','TIME','DATE_TIME','CELL_ID','DW_A_NUMBER_INT','DW_B_NUMBER_INT','STATUS','LOCALISATION','DECOUPZONE','ZONENAME','REGION','AREA','SITE_ID','SITE_CODE']]
daily.head()

       VILLES PRODUCT  VALUE  ...           AREA SITE_ID   SITE_CODE
0   ATTECOUBE   Voice      0  ...  ABIDJAN NORTH     NaN  7f76d66503
1  PORT-BOUET   Voice      0  ...  ABIDJAN SOUTH     NaN  ffa6bdc032
2     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
3     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
4     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8

[5 rows x 17 columns]

In [23]:
#Let's check for missing values

daily.isnull().sum()

VILLES               0
PRODUCT              0
VALUE                0
DATE                 0
TIME                 0
DATE_TIME            0
CELL_ID              0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
STATUS               1
LOCALISATION         0
DECOUPZONE           0
ZONENAME             0
REGION               0
AREA                 0
SITE_ID            376
SITE_CODE            0
dtype: int64

### What cities were the most used during the three days?

In [85]:
daily.groupby(['DATE', 'VILLES']).size()

DATE        VILLES
2012-05-07  ABOBO            9
            ADJAME           6
            ATTECOUBE        4
            BINGERVILLE      3
            COCODY          65
            KOUMASSI         6
            MARCORY         10
            PLATEAU          5
            PORT-BOUET      14
            SONGON           2
            SOUBRE           3
            TIASSALE        18
            TOUMODI          1
            TREICHVILLE     14
            YAMOUSSOUKRO    11
            YOPOUGON         5
2012-05-08  ABOBO           10
            ATTECOUBE        1
            COCODY          25
            KOUMASSI         2
            MARCORY         22
            PLATEAU          4
            PORT-BOUET       5
            SAN-PEDRO        3
            SOUBRE           2
            TANDA            1
            TIASSALE         2
            TIEBISSOU        1
            TREICHVILLE      7
            YAMOUSSOUKRO    10
            YOPOUGON         6
2012-05-09  ABENGOUROU       1
            ABOBO            6
            ADJAME           2
            COCODY          38
            GAGNOA           1
            KOUMASSI         6
            MARCORY         12
            PLATEAU          2
            PORT-BOUET       5
            SONGON           1
            SOUBRE           3
            TANDA            1
            TIASSALE         6
            TIEBISSOU        1
            TOUMODI          3
            TREICHVILLE      5
            YAMOUSSOUKRO     6
dtype: int64

Let's go through the output given. 
*  On day 1, the following cities logged the most activity:
            *   COCODY
            *   TIASSALE
            *   PORT - BOUET
            *  TREICHVILLE
            
*  On day 2, the following cities logged the most activity:
            *  COCODY
            *  MARCORY
            * YAMOUSSOUKRO
            * ABOBO
            
*  On day 3, the following cities logged the most activity:
            * COCODY
            * MARCORY
            * TIASSALE
            * YAMOUSSOUKRO
            * KOUMASSI
            * ABOBO

### Which cities used the MTN products the most over the three days?

In [89]:
daily.groupby('VILLES')['VILLES'].count().sort_values(ascending = False)

VILLES
COCODY          128
MARCORY          44
YAMOUSSOUKRO     27
TREICHVILLE      26
TIASSALE         26
ABOBO            25
PORT-BOUET       24
KOUMASSI         14
PLATEAU          11
YOPOUGON         11
SOUBRE            8
ADJAME            8
ATTECOUBE         5
TOUMODI           4
SAN-PEDRO         3
SONGON            3
BINGERVILLE       3
TANDA             2
TIEBISSOU         2
GAGNOA            1
ABENGOUROU        1
Name: VILLES, dtype: int64

###Which product has a higher revenue based on the value return?

In [83]:
daily.groupby(['PRODUCT'])['VALUE'].count()

PRODUCT
Voice    376
Name: VALUE, dtype: int64

The voice product has a higher revenue based on the value return.

### What product was used most each and every day for the 3 days?

In [59]:
daily.groupby(['DATE', 'PRODUCT'])['PRODUCT'].count().sort_values(ascending = False)

DATE        PRODUCT
2012-05-07  Voice      176
2012-05-08  Voice      101
2012-05-09  Voice       99
Name: PRODUCT, dtype: int64

### What region used the MTN products the most and which product was it?

In [87]:
daily.groupby(['REGION', 'PRODUCT'])['PRODUCT'].count().sort_values(ascending = False)

REGION         PRODUCT
LAGUNE         Voice      328
LACS           Voice       33
BAS SASSANDRA  Voice       11
ZANZAN         Voice        2
MOYEN COMOE    Voice        1
FROMAGER       Voice        1
Name: PRODUCT, dtype: int64

### What area used the MTN products the most and which product was it?

In [88]:
daily.groupby(['AREA', 'PRODUCT'])['PRODUCT'].count().sort_values(ascending = False)

AREA           PRODUCT
ABIDJAN NORTH  Voice      183
ABIDJAN SOUTH  Voice      119
SOUTH WEST     Voice       38
CENTRE NORTH   Voice       33
EAST           Voice        3
Name: PRODUCT, dtype: int64

##Business hours vs Home hours

### Convert the column names date,time and datetime to lowercase

In [92]:
daily.columns = ['VILLES','PRODUCT','VALUE','date','time','datetime','CELL_ID','DW_A_NUMBER_INT','DW_B_NUMBER_INT','STATUS','LOCALISATION','DECOUPZONE','ZONENAME','REGION','AREA','SITE_ID','SITE_CODE']
daily.head()

       VILLES PRODUCT  VALUE  ...           AREA SITE_ID   SITE_CODE
0   ATTECOUBE   Voice      0  ...  ABIDJAN NORTH     NaN  7f76d66503
1  PORT-BOUET   Voice      0  ...  ABIDJAN SOUTH     NaN  ffa6bdc032
2     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
3     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
4     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8

[5 rows x 17 columns]

In [0]:
import datetime

### What are the activities logged during business hours?

In [95]:
business_hours = daily[(daily.datetime.dt.time >= datetime.time(9)) & (daily.datetime.dt.time <= datetime.time(17))]

business_hours.head()

      VILLES PRODUCT  VALUE  ...           AREA SITE_ID   SITE_CODE
3    PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
10  TIASSALE   Voice      0  ...     SOUTH WEST     NaN  78d279198d
11  TIASSALE   Voice      0  ...     SOUTH WEST     NaN  78d279198d
12  TIASSALE   Voice      0  ...     SOUTH WEST     NaN  78d279198d
13  TIASSALE   Voice      0  ...     SOUTH WEST     NaN  78d279198d

[5 rows x 17 columns]

### Which cities logged the most activity during business hours?

In [97]:
business_hours.groupby('VILLES')['VILLES'].count().sort_values(ascending = False).head(10)

VILLES
COCODY          93
MARCORY         32
TREICHVILLE     20
YAMOUSSOUKRO    18
PORT-BOUET      17
ABOBO           15
TIASSALE        15
KOUMASSI        13
ADJAME           6
YOPOUGON         5
Name: VILLES, dtype: int64

The following cities logged the most activities during home hours:
*    COCODY          
*    MARCORY         
*    TREICHVILLE

### What product logged the most activity during business hours?

In [102]:
business_hours.groupby('PRODUCT')['PRODUCT'].count().sort_values(ascending = False).head(10)

PRODUCT
Voice    260
Name: PRODUCT, dtype: int64

The voice product logged the most activity during business hours

### What were the activities logged during home hours?

In [99]:
home_hours = daily[~ ((daily.datetime.dt.time >= datetime.time(9)) & (daily.datetime.dt.time <= datetime.time(17)))]
home_hours.head()

       VILLES PRODUCT  VALUE  ...           AREA SITE_ID   SITE_CODE
0   ATTECOUBE   Voice      0  ...  ABIDJAN NORTH     NaN  7f76d66503
1  PORT-BOUET   Voice      0  ...  ABIDJAN SOUTH     NaN  ffa6bdc032
2     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
4     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  3e46cdd0e8
5     PLATEAU   Voice      0  ...  ABIDJAN SOUTH     NaN  bea164ff9b

[5 rows x 17 columns]

### Which cities logged the most activity during home hours?

In [101]:
home_hours.groupby('VILLES')['VILLES'].count().sort_values(ascending = False).head(10)

VILLES
COCODY          35
MARCORY         12
TIASSALE        11
ABOBO           10
YAMOUSSOUKRO     9
PLATEAU          7
PORT-BOUET       7
TREICHVILLE      6
YOPOUGON         6
SOUBRE           3
Name: VILLES, dtype: int64

The following cities logged the most activities during home hours:
*    COCODY          
*    MARCORY         
*    TIASSALE        
*    ABOBO

### What product logged the most activity during home hours?

In [103]:
home_hours.groupby('PRODUCT')['PRODUCT'].count().sort_values(ascending = False).head(10)

PRODUCT
Voice    116
Name: PRODUCT, dtype: int64

The voice product logged the most activity during home hours.